body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

.zone_saisie {
    border-top: 0.1px solid rgba(128, 128, 128, 0.25);
    position: fixed;
    top: 90%;
    background-color: black;
    width: 100%;
    height: 10%;
}

#form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#form #champ {
    height: 100%;
    width: 50%;
    text-align: center;
    color: grey;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border: 0.1px solid rgba(128, 128, 128, 0.01);
}

#form #image {
    height: 50px;
    width: 50px;
    position: absolute;
    left: 79%;
}

#form #submit {
    height: 50px;
    width: 50px;
    position: absolute;
    left: 79%;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0);
}

#form #submit:hover {
    cursor: pointer;
}

#messages {
    height: 90vh;
    overflow: scroll;
    overflow-x: hidden;
}

#messages::-webkit-scrollbar {
    background-color: transparent;
}

.container-message-other {
    color: white;
    width: 300px;
    position: relative;
    left: 70%;
}


.container-message-other .username-other {
    color: grey;
    position: relative;
}

.container-message-other .message-div-other {
    background-color: orangered;
    padding: 5px;
    text-align: center;
    border-radius: 30px;
    position: relative;
}

.container-message-you {
    color: white;
    width: 300px;
}

.container-message-you .message-div-you {
    background-color: aqua;
    padding: 10px;
    text-align: center;
    border-radius: 30px;
}

.container-message .username-you {
    color: grey;
    position: relative;
    left: 8%;
}

#container {
    display: none;
}

#container-register {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#champ-register {
    height: 30px;
    width: 300px;
}

#submit-register {
    height: 30px;
    width: 80px;
}